body {
    background-color: #14161A;
}

.navbar {
    margin: 1% 5%;
    border-radius: 2em 0;
    background-color: #03D1B2 !important;
}

.info {
    margin-top: 10%;
    text-align: center;
    color: white ;
}
h2.titulo-info{
    margin-top: 5%;
    color: white ;
    opacity: .7;
}
h2.subtitulos-educacion{
    color:white;
    opacity: .7;
}

h1.titulo-educacion,.links{
    color: #03d1b2;
}
    hr {
        height: 6px;
        width: 100%;
        color: #03d1b2;
      }
.text-bg-experiencia{
    background-color: #03d1b2;
    color:#14161A;
    opacity: .7;
}
.card-text{
    background-color:#14161A;
    color: white;
    border-radius: 5px;
    padding: 4px;
}
#educacion,#experiencia,#portafolio,#forks{
    margin-top: 15%;
}
footer{
    padding:20px;
    background-color: #03D1B2;
}
#elementEl {
    color: #03d1b2;
}

#elementEl::after {
    content: '|';
    margin-left: 1px;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
.caja{
    margin: 0 auto;
    width: 500px;
    padding: 30px;
}
.link-offset-3{
  color: white !important;
}
.link-offset-3:hover{
  color:#03D1B2!important;
}
@media only screen and (max-width: 767px) {
    .animacion-principal {
        display: none !important;
    }

}